.banner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  height: 250px;
  width: 100%;
  text-align: left;

  @media screen and (max-width: 800px) {
    height: auto;
    padding-top: 24px;
    text-align: left;
    align-items: flex-start;

    div > p {
      display: none;
    }
    
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1115px; width: 100%;
    margin: 24px;
  }

  div > h2, p {
    text-align: left; 
    color: white;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 400;
  }
}