.cart {
    position: relative;
}
.open-cart {
    width: 500px;
    position: fixed;
    background-color: black;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0em 0em 0em;
    z-index: 11;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25), -4px -4px 4px rgba(0,0,0,0.25);
}
.cart-bubble {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    z-index: 7;
    background-color: chocolate;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        color: white;
        font-size: 12px;
        text-align: center;
    }
}
.open-cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em 2em;
    span {
        font-size: 22px;
        color: white;
    }
}
.close-cart-button {
    padding: 10px 15px;
    background-color: white;
    border-radius: 3px;
    outline: none;
    border: 0px solid black;
}
.close-cart-button:hover {
    cursor: pointer;
}
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    background-color: white;
    span {
        font-size: 22px;
        font-style: bold;
        margin: 3em 0 2em 0;
    }
}
.open-cart-bottom {
    background-color: white;
    padding: 20px;
    
}
.continue-shopping-button {
    width: 230px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 2em;
}

.continue-shopping-button:hover, .proceed-to-checkout-button:hover {
    cursor: pointer;
}
.proceed-to-checkout-button {
    width: 230px;
    height: 41px;
    background: black;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2em;
}
.purchase-complete {
    width: 100%;
    padding: 2em 0;
    display: grid;
    place-items: center;
}
.complete-purchase-button {
    width: 230px;
    height: 41px;
    background: black;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2em;
}
.open-cart-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cart-contents {
    flex-grow: 2;
    width: 100%;
}
.cart-bottom {
    flex-grow: 1;
    border-top: 1px solid black;
    width: 96%;
    
}
.subtotal {
    font-size: 22px !important;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
    h4{
        margin-right: 0.5em;
    }
    h4:first-child {
        margin-left: 0.5em;
    }
}
.cart-item {
    margin: 1em 0;
    height: 90px;
    width: 100%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
        height: 100%;
        display: flex;
        .image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .image, .info {
            height: 100%;
            width: 90px;
            margin-left: 0.5em;
        }
        .info {
            height: calc(100% - 0.2em);
            width: 180px !important;
            padding: 0.1em;
            margin-left: 1.5em !important;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .right {
        height: 100%;
        width: 120px;
        
        display: flex;
        flex-direction: column;
        .top, .bottom {
            flex-grow: 1;
            width: 100%;
            display: grid;
            place-items: center;
            
        }
        .top {
            span {
                padding-right: 0.6em;
                padding-top: 0.2em;
                width: 100%;
                height: calc(100% - 0.2em);
                font-size: 18px;
                text-align: right;
            }
        }
        .bottom {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            div {
                padding-right: 0.6em;
                padding-top: 0.2em;
                img:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
.cart-options {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.cart-buttons {
    margin: 3em 0 0em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    button {
        font-size: 15px !important;
        padding: 0.25em !important;
        width: 200px;
    }
}
@media screen and (max-width: 500px) {
    .open-cart {
        width: 100vw;
    }
    .open-cart-bottom {
        padding: 20px 0.5em;
    }
}