.input-cont {
    position: relative;
}

.input-tag:disabled {
    background-color: #F3F3F3;
}

.input-tag::placeholder, .input-label {
    font-size: 16px;
    font-weight: lighter;
    color: #949494;
}

// ===========================================
// temporary solution. remove or comment out if want to 
// try make input box work out as designed
.input-tag::placeholder {
    color: white;
}
// ===========================================

.input-tag {
    box-sizing: border-box;
    height: 54px;
    border-radius: 4px;
    font-size: 16px;
    border-width: 0.75px;
    border-color: #AEAEAE;
    padding: 0px 12px;
}
.input-tag:focus {
    outline: none;
}

.input-label {
    font-size: 14px;
    position: absolute;
    display: none;
    top: 16px;
    left: 12.75px;
    z-index: 2;
}

// if in focus AND change label css
.input-tag:focus + .input-label {
    display: block;
    position: absolute;
    top: 6px;
}

// if value is not empty
.input-tag:not([value=null]) {
    padding-top: 12px;
}

// if value is not empty and not in focus
.input-tag:not([value=null]):not(:focus) {
    padding-top: 12px;
}

// if value is not empty and not in focus AND change label css
.input-tag:not([value=null]):not(:focus) + .input-label {
    top: 6px;
    display: block;
}

// if not in focus AND change label css
.input-tag:not(:focus) + .input-label {
    display: none;
    
}

// if not in focus
.input-tag:not(:focus)  {
    padding-top: 0;
}
