.option-section {
  margin: 24px 0;
}

.option-cont {
  margin-top: 8px;
  max-width: 525px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.stock-amount {
  color: #E90000;
  margin-top: 8px;
  font-size: 16px;
}