.subscribe-button {
    display: grid;
    margin-top: 0.25em;
    border-radius: 4px;
    place-items: center;
    width: 212px;
    height: 44px;
    background-color: white;
    span {
        color: black;
        font-size: 16px !important;
    }
}
.subscribe-button:hover {
    cursor: pointer;
}
.subscribe-button:active {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25) inset, -4px -4px 4px rgba(0,0,0,0.25) inset;
}

