.subscribe-form {
    display: flex;
    flex-direction: column;

    h5 {
        color: white;
        margin: 5.5px 0 16px;

    }
    button {
        border: 0.75px solid white;
        margin-top: 24px;
        width: 175px;
        font-size: 16px;
    }
}
.subscribe-button:active {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25) inset, -4px -4px 4px rgba(0,0,0,0.25) inset;
}

