.breadcrumb {
    margin: 18px 0;

    span span a, span span {
        font-size: 16px;
        color: #808080;
        text-decoration: none;
    }
    span span { margin-right: 4px;}

    span span a:hover {
        text-decoration: underline;
    }
    // hiding the slash of end links
    span:last-child span:last-child, 
    span:nth-child(2) span:last-child {
        display: none;
    }
    
}

// hiding product name
div.ant-breadcrumb.breadcrumb > span:nth-child(3) {
    display: none;
}