.prod-div {
  width: 275px;
  background-color: antiquewhite;
  text-align: center;
}

.prod-img {
  height: 335px;
  width: 100%;

  background-color: #000;
}

.prod-title {
  font-variant: small-caps;
}