.prod-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 275px;
  text-align: center;
  margin: 20px 2px;
}

.prod-preview, .prod-img  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 335px;
  width: 275px;

  button {
    opacity: 0;
  }
}

.prod-img {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: bottom;
}

.prod-preview:hover {
  background-color: rgba(0,0,0,0.5);
  transition: all 0.5s ease-in-out;

  button {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
}

.prod-title {
  text-transform: uppercase;
  margin: 8px 0px;
}
.prod-price {
  color: #808080;
}