@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --span-color: #D3435A;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
}
.banner {
    width: 100%;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

