.filter-cont {
  width: 100%;
  max-width: 1163px;
  z-index: -11 !important;
  .filter-bar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    column-gap: 24px;
    margin-left: 24px;
  }
}

.filter-bar > div {
  position: relative;
}

.filter-item {
  display: flex;
  z-index: 1 !important;
  align-items: center;
  height: 52px;
  column-gap: 8px;
  cursor: pointer;
  user-select: none;
}

.filter-dropdown {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  box-sizing:border-box;
  position: absolute;
  z-index: 5;
  top: 52px;
  width: 270px;
  padding: 18px;
  background-color: white;
  border: 0.5px solid #A8A8A8;
  
  a {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 8px;

  }:last-child {
    margin-bottom: 0px;

  }:hover {
    text-decoration: underline;
    cursor: pointer;
  }

}
.filter-item:hover {
  transition: all 0.5s;

  .filter-dropdown {
    opacity: 1;
    visibility: visible;
  }
}

.shoe-sizes {
  visibility: hidden;
  columns: 3;
}

