.modal {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    // align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    min-height: 200px;
    max-width: 360px;
    background-color: white;
    backdrop-filter: blur(4px);
    z-index: 99;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25), -4px -4px 4px rgba(0,0,0,0.25);
    // overflow: hidden;
    padding: 0 12px 12px;

    @media screen and (max-width: 800px) {
        max-width: 340px;
        
    }
}
.modal-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 0px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding: 8px 0;
    margin-bottom: 12px;
    span {
        // padding: 0.75em 0.75em 0.75em 2em;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.close-modal-button {
    height: 32px;
    border-radius: 3px;
    background-color: white;
    
}
.close-modal-button:hover {
    transition: background-color 0.3s;
    background-color: black;
    cursor: pointer;
    svg {
        color: white;
    }
}

.modal-content {
    padding: 8px;
}

.tracking-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // padding: 12px;
    p {
        text-align: left;
        width: 100%;
    }
}

.mini-profile-cont {

    margin: 24px 0;

    .profie-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 8px;
    }

    .profile-pic {
        width: 45px;
        margin-right: 12px;
        border-radius: 100px;
    }
    a {
        margin-left: 4px;
        margin-bottom: 2px;
        font-size: 16px;
    }

    .social-icon {
        width: 25px;
    }

}