.checkout-item-cont {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}
.checkout-item-cont > div:first-child {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    column-gap: 12px;

    padding-right: 24px;
    word-break: break-all;
}

.item-image {
    width: 98px;
    height: 98px;
    object-fit: cover;
    object-position: bottom;
}

.item-info-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h6, p {
        text-transform: uppercase;
        font-size: 16px;
    }
    p {
        color: #A8A8A8;
    }
}

.item-info-cont {
    div {
        h6 {
            white-space: nowrap;
        }
    }
}