.checkout-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 60px;
    margin: 60px 24px 0;
    width: 100%;
    max-width: 1115px;
}


.checkout-content-right {
    // width: 50%;
    width: 410px;
}

@media screen and (max-width: 1200px) {
    .checkout-content-right {
        margin-left: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .checkout-content {
        column-gap: 36px;
    }
    .checkout-content-right {
        margin-left: 0px;
        width: 370px;
    }
}



@media screen and (max-width: 800px) {
    .checkout-content {
        flex-direction: column-reverse;
        max-width: 330px;
        margin: 36px 24px;
    }
    .checkout-content-right {
        margin-bottom: 48px;
        max-width: 330px;
    }
}
