@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* media query */
$md: 800px;

/* colors
 #000000 For almost all text
 #808080 For text like in input boxes
 #A8A8A8 For input box outline, number text for the sizes
 #F2F2F2 Background color for container(s)
 #FFFFFF background color
*/

/* COUNTERING USER AGENT STYLESHEET */
html, body {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
}
/* -------------------------------- */
.centered-cont {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.uppercased {
  text-transform: uppercase;
}
.bolded {
  font-weight: bold;
}

// ===== text styling ==========================
h1, h2, h3, h4, h5, h6, p, a, span, 
button[type="button"], input[type="text"],
label, input[type="submit"] {
  font-family: 'Inria Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {font-size: 64px;}
h2 {font-size: 48px;}
h3 {font-size: 36px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6, p, span, a {font-size: 18px;}

a {
  color: #71B1CC;
  cursor: pointer;
}

@media screen and (max-width: $md) {
  h1 {font-size: 36px;}
  h2 {font-size: 24px;}
  h3 {font-size: 24px;}
  h4 {font-size: 20px;}
  h5, h6, p, a, span {font-size: 16px;}
}

// ===== button styling ===================================
button[type="button"], input[type="button"], input[type="submit"] {
  padding: 8px 36px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
}
.black-btn, .white-btn:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.white-btn, .black-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

// ===== misc styling =====================================

hr {
  color: #A8A8A8;
  width: 100%;
  margin: 12px 0;
}

.blur {
  filter: blur(4px);
}