@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* media query */
$md: 800px;

/* colors
 #000000 For almost all text
 #808080 For text like in input boxes
 #A8A8A8 For input box outline, number text for the sizes
 #F2F2F2 Background color for container(s)
 #FFFFFF background color
*/

/* COUNTERING USER AGENT STYLESHEET */
body {margin: 0px}
/* -------------------------------- */

// ===== text styling ==========================
h1, h2, h3, h4, h5, h6, p, a, span, button[type="button"] {
  font-family: 'Inria Sans', sans-serif;
  margin: 0;
}
h1 {font-size: 64px;}
h2 {font-size: 48px;}
h3 {font-size: 36px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6, p, span, a {font-size: 18px;}

a {color: #71B1CC;}

@media screen and (max-width: $md) {
  h1 {font-size: 36px;}
  h2 {font-size: 24px;}
  h3 {font-size: 20px;}
  h4 {font-size: 18px;}
  h5, h6, p, a, span {font-size: 16px;}
}

// ===== button styling ===================================
button[type="button"], input[type="button"] {
  padding: 8px 36px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.black-btn, .white-btn:hover {
  background-color: black;
  color: white;
}
.white-btn, .black-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

